

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
//
header{ min-height:50px; }
footer{ min-height:50px; }
.my-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.card-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    .text-body{
        flex:1;
    }
}
.top-title{
    padding: 12px 0;
    color: #fff;
    font-size: 33px;
}
.my-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    @media (max-width:1250px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:750px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.dropdown-toggle{
    &::after{
        display: none;
    }
}
.account-btn{
    margin-left: 12px;
    display: flex;
    align-items: center;
    gap: 7px;
    color: #fff;
    cursor: pointer;
    .circle{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffc107;
        i{
            color: #1A2226;
        }
    }
    p{
        margin-bottom: 0;
    }
}
.color-white{
    color: #fff;
    font-size: 35px;
}
.main-page{ 
    flex:1;
    padding: 40px 0 80px;
 }
.logo{
    cursor: pointer;
}
.my-nav{
    background: #545555;
}
.logo{
    img{
        @media (max-width:750px) {
            width: 80px !important;
        }

    }
}
.my-card-bg{
    background: #f9f9f9;
}
.footer{
    background: #f9f9f9;
}
#footer{
    @media (max-width:750px) {
       display: flex;
       flex-direction: column;
    }
}
body {
    background: #6f6f6f;
    font-family: 'Roboto', sans-serif;
}
.container{
    .row{
        @media (max-width:950px) {
            width: 100%;
            margin: auto;
         }
    }
}

.login-box {
    margin-top: 25px;
    @media (max-width:950px) {
        width: 100%;
        margin-top: 0 !important;
     }
    padding: 24px;
    height: auto;
    background: #424445;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
    @media (max-width:950px) {
        width: 100%;
        margin-top: 12px;
     }
}
.my-card-bg {
    @media (max-width:950px) {
        padding: 24px !important;
     }
     .btn-outline-dark{
        @media (max-width:950px) {
            margin: 0 !important;
         }
     }
     .my-detail{
        @media (max-width:950px) {
            margin-top: -20px !important;
         }
     }
}
.my-bottom {
    @media (max-width:950px) {
        display: flex;
        flex-direction: column;
     }
}


.bottom{
    @media (max-width:750px) {
        display: flex;
        flex-direction: column;
        gap: 12px;
     }
}

.input {
    background-color: #424445;
    border: none;
    border-bottom: 2px solid #fff;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}



.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #ffc107;
    outline: 0;
    background-color: #424445;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #c4bfbf;
    font-weight: bold;
    letter-spacing: 1px;
}


.login-btm {
    float: left;
}



.login-text {
    text-align: left;
    padding-left: 0px;
    color: red;
}

.loginbttm {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loader-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background: transparent;

    .paytm-loader {
        color: #ffc107;
        width: 3px;
        aspect-ratio: 1;
        border-radius: 50%;
        box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
        transform: translateX(-38px);
        animation: loader 0.5s infinite alternate linear;
        -webkit-box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
        -webkit-transform: translateX(-38px);
        -webkit-animation: loader 0.5s infinite alternate linear;
      }
      
      @keyframes loader {
        50% {
          box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
        }
        100% {
          box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
        }
      }
      
      @-webkit-keyframes loader {
        50% {
          box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
        }
        100% {
          box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
        }
      }
      
      
  }
//   .loader {
//     position: relative;
//     width: 150px;
//     height: 150px;
//     border-radius: 50%;
//     background: linear-gradient(45deg, transparent, transparent 30%, #f1fd42);
//     animation: loader 2s linear infinite;
//   }
//   @keyframes loader {
//     0% {
//       transform: rotate(0deg);
//       filter: hue-rotate(0deg);
//     }
//     100% {
//       transform: rotate(360deg);
//       filter: hue-rotate(360deg); 
//     }
//   }
//   .loader:before {
//     content: '';
//     position: absolute;
//     top: 6px;
//     left: 6px;
//     bottom: 6px;
//     right: 6px;
//     background: #6f6f6f;
//     border-radius: 50%;
//     z-index: 1000;
//   }
  .text-body{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg, transparent, transparent 30%, #f0ff1b);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
  }


  .slide-fade-enter-active {
    transition: all 0.3s ease-out;
  }
  
  .slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  
  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateY(20px);
    opacity: 0;
  }